[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = {extras = ["async"], version = "*"}
pydantic = "*"
flask-caching = "*"
sqlalchemy = {extras = ["asyncio"], version = "*"}
asyncpg = "*"
psycopg2-binary = "*"
openpyxl = "*"

[dev-packages]

[requires]
python_version = "3.6"
